:root {
  /* colors */
  --dalandan: #d69a18;
  --green: #67bd62;
  --dark-white: #dfd9d9;
  --lato: 'Lato', sans-serif;
  --merienda: 'Merienda', cursive;
}

/* #region general */
.lato { font-family: 'Lato', sans-serif; }
.merienda { font-family: 'Merienda', cursive; }

.bg-dark-white { background-color: var(--dark-white); }

.fs-12 { font-size: 12px; }
.fs-14 { font-size: 14px; }
.fs-26 { font-size: 26px; }

.lh-30 { line-height: 30px; }

.fw-700 { font-weight: 700; }

.container-fluid { padding-left: 0 !important; padding-right: 0 !important; }
/* #endregion general */

/* #region navbars */
.top-most-nav { background-color: var(--dark-white); }
.top-most-nav i { color: var(--dalandan); }
.nav-wrapper { position: sticky; top: 0px; z-index: 9999; }
.navbar-brand { margin-right: 0 !important; }
.navbar { padding: 0 !important; }
/* #endregion navbars */

/* #region hero */
.hero {
  height: 450px;
  background-image: url('../img/hero-halox2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.site-intro {
  height: 250px;
  width: 420px;
  background-color: rgba(80, 74, 75, 0.4);
  margin-left: 100px;
  border-left: solid 4px var(--green);
  border-radius: 3px;
}
/* #endregion hero */

/* region Search Meal */
.meal {
  cursor: pointer;
  position: relative;
  height: 180px;
  width: 180px;
  text-align: center;
}

.meal img {
  width: 100%;
  height: 100%;
  border: 4px #fff solid;
  border-radius: 2px;
}

.meal-info {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease-in;
  opacity: 0;
}

.meal:hover .meal-info {
  opacity: 1;
}
/* endregion Search Meal */